@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
	font-family: 'LarsMalonePro-Bold';
	font-weight: bold;
	src:  url(../LarsMalonePro-Bold.woff) format('woff'),
	url(../font/LarsMalonePro-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'LarsMalonePro-Regular';
	font-weight: normal;
	src:  url(../font/LarsMalonePro-Regular.woff) format('woff'),
	url(../font/LarsMalonePro-Regular.woff2) format('woff2');
}

